name: Release Please

on:
  workflow_call:
    secrets:
      RELEASE_PLEASE_TOKEN:
        description: 'The GitHub token used to create releases.'
        required: true

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release-please:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Release Please
        uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
